<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>VVIS</title>
</head>

<body>
  <script>
    function cl_web() {
      alert("Klart!");
    }
  </script>
  <div class="container">
    <h1>Skriv namn och tryck skicka</h1>
    <div class="break"></div>
    <form class="form" method="POST" action="/">
      <input class="name" type="text" name="name" autofocus autocomplete="on" placeholder="Namn">
      <input class="button" type="submit" onclick=cl_web() value="Skicka">
    </form>
  </div>
</body>

</html>