<!DOCTYPE html>
<html charset="utf-8">
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <script>
      function cl_web(){
        alert("Klart!");
      }
    </script>
    <h1>Skriv namn och tryck skicka</h1>
    <form method="POST" action = "/">
      <div class = "form-group">
        <input type="text" name ="age" autofocus autocomplete="on" placeholder="Namn">
        <!--
        <div><br>
          <input type="checkbox" name="Place" value="Karta">
          <label for="Karta">Karta</label><br>
          <input type="checkbox" name="Soderhall">
          <label for="Soderhall">Söderhall</label><br>
          <input type="checkbox" name="Place" value="Sattra">
          <label for="Sattra">Sättra</label><br>
          <input type="checkbox" name="Place" value="Sono">
          <label for="Sono">Sonö</label><br>
          <input type="checkbox" name="Place" value="Glugga">
          <label for="Glugga">Glugga</label><br>
          <input type="checkbox" name="Place" value="Aby">
          <label for="Aby">Åby</label><br>
          <input type="checkbox" name="Place" value="Vaddo">
          <label for="Vaddo">Väddö</label><br>
          <input type="checkbox" name="Place" value="Alunda">
          <label for="Alunda">Alunda</label><br>
          <input type="checkbox" name="Place" value="Halkriskkarta">
          <label for="Halkriskkarta">Halkriskkarta</label>
        </div>
        -->
      </div>
      <input class="btn btn-primary" type="submit" onclick=cl_web() value="Skicka">
    </form>
  </body>
</html>
